<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwLggGfzXT7agXvw3UWrcOF_SEwxgrP1g</string>
	<key>GCM_SENDER_ID</key>
	<string>829862601268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>emerald.light.auto</string>
	<key>PROJECT_ID</key>
	<string>emerald-light-auto</string>
	<key>STORAGE_BUCKET</key>
	<string>emerald-light-auto.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829862601268:ios:1285c8d1384b5e7adba061</string>
</dict>
</plist>